h1{
font-family: Arial, Helvetica, sans-serif;
color: rgb(197, 224, 60);
}

body{
background-color:blue;
margin:0px;
}

header{
background-color:black;
padding:30px;
border: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto auto;
  padding:15px;
}

.rightside{
grid-column-start:3;
grid-column-end:4;
padding:15px;
}
.grid-page{
margin:10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns:auto auto;
  padding:15px;
}

.leftside2{
grid-column-start:0;
grid-column-end:1;
padding:15px;
}

a{
color: rgb(197, 224, 60);
font-family: Arial, Helvetica, sans-serif;
font-weight:bold ;
text-decoration:none;
padding-left:15px;
padding-right:15px;
}

p{
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
color: white;
}

li{
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
color:white;
}

