h1{
font-family: Arial, Helvetica, sans-serif;
color:blue;
}


.grid-container {
  background-color: blue;
  display: grid;
  grid-template-columns:auto auto auto auto;
}

.grid-container2 {
  display: grid;
  grid-template-columns:auto auto;

}


.rightside{
grid-column-start:3;
grid-column-end:4;
padding:15px;
}

a{
color: rgb(40, 240, 40);
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
padding:15px;
}

p{
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
}